db/schema.rb linguist-generated

vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

config/puma.rb linguist-generated
config/boot.rb linguist-generated
config/environment.rb linguist-generated
config/environments/*.rb linguist-generated
config/importmap.rb linguist-generated
config/initializers/*.rb linguist-generated
